language: cpp
os: linux
dist: bionic
sudo: false

branches:
  only:
  - master
  - develop

matrix:
  include:
    - compiler: gcc
      env:
        - MATRIX_EVAL="CC=gcc && CXX=g++"

    - compiler: clang
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"

before_install:
  - eval "${MATRIX_EVAL}"
  - pip install --user cpp-coveralls

install:
  ############################################################################
  # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
  ############################################################################
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install libboost-thread-dev libboost-system-dev libboost-test-dev
  - cd ${TRAVIS_BUILD_DIR}

script:
  - mkdir _builds
  - cd _builds
  - cmake -DVIA_HTTPLIB_UNIT_TESTS=ON -DVIA_HTTPLIB_COVERAGE=ON .. 
  - make
  - ./via-httplib_test

after_success:
  - cd ${TRAVIS_BUILD_DIR}
  - if [ "$CXX" == "g++" ]; then coveralls --root . -e build/CMakeFiles -E "test_*.o" --gcov-options '\-lp'; fi

notifications:
  email:
    recipients:
      - ken.barker@via-technology.aero
    on_success: change
    on_failure: always
